[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "8.3.4"

[packages]
user-agent = "0.1.10"
requests = "2.31.0"
google-cloud-storage = "2.17.0"
google-generativeai = "0.6.0"
google-cloud-aiplatform = ">=1.38"
kfp = "2.4.0"
pandas = "2.2.2"
scikit-learn = "1.5.2"
pytest-cov = "6.0.0"

[requires]
python_version = "3.9"


